.backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    transition: opacity 0.3s ease-in-out;
}

.modalContent {
    border: none;
    border-radius: 12px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
    
    animation: slideIn 0.3s ease-out;
}

.headerPrimary {
    background-color: #0d6efd; 
    color: white;
}

.headerDanger {
    background-color: #dc3545;
    color: white;
}

.headerSuccess {
    background-color: #198754;
    color: white;
}

.headerWarning {
    background-color: #ffc107;
    color: #000;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.closeButtonWhite {
    filter: invert(1) grayscale(100%) brightness(200%);
}